celery
celery[redis]
celery[sqlalchemy]
celery-prometheus-exporter
flower
prometheus-client
psycopg2-binary
faker
timedelta
datetime
polars
numpy
pyturso
sqlalchemy-libsql
libsql
python-dotenv
pymonetdb
duckdb
dask[distributed]
pandas
dask[distributed]
psycopg2-binary
sqlalchemy
prefect
pyarrow